
/* Arquivos */

@import url('https://fonts.googleapis.com/css?family=Righteous');


/* Classes padrões */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Righteous", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 70em;
}

/* Header */

header {
    background-color: rgba(114,200,0);
}

nav {
    height: 6.7em;
    padding: auto;
}

header ul {
    list-style: none;
    visibility: hidden;
    position: relative;
    margin: auto;
}

header ul li {
    display: inline-block;
    margin-left: 2em;
    margin-top: 1.9em;
    font-size: 1.4rem;

}

header ul li a {
    text-decoration: none;
    color: white;
}

.container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
    position: relative;
    top: .9em;
    font-size: 2.2em;
}

@media(min-width: 60rem) {

    header ul {
        visibility: initial;

    }

    .container a {
        visibility: hidden;
    }
    
}

/* Imagens */

nav img {
    position: relative;
    float: left;
    width: 15em;
    margin-top: .7em;
}

.bg {
    position: absolute;
    width: 100%;
    top: 6.5em;
    left: 0;
}

.bg2 {
    position: absolute;
    width: 100%;
    top: 6.5em;
    left: 0;
    visibility: hidden;
}

@media(min-width:60rem) {

    .bg2 {
        visibility: initial;
    }

    .bg {
        visibility: hidden;
    }
    
}