
/* Arquivos */

@import url('https://fonts.googleapis.com/css?family=Righteous');


/* Classes padrões */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Righteous", sans-serif;
}

img {
    max-width: 95%;
    height: auto;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 70em;
}

/* Header */

header {
    background-color: rgba(114,200,0);
    margin-top: -1em;
}

nav {
    height: 6.7em;
}

header ul {
    list-style: none;
    visibility: hidden;
}

header ul li {
    display: inline-block;
    padding: .3em;
    margin-top: 1.6em;
    font-size: 1.4rem;

}

header ul li a {
    text-decoration: none;
    color: white;
}

.container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: .8em;
    padding: 0 1em;
    font-size: 2.2em;
}

@media(min-width: 60rem) {

    header ul {
        visibility: initial;
        padding-left: 50%;

    }

    .container a {
        visibility: hidden;
    }
    
}

/* Imagens */

nav img {
    position: relative;
    float: left;
    width: 17em;
    padding-left: .5em;
    top: -4.5em;
}

@media(min-width: 5rem) {

    nav img {
        position: relative;
        float: left;
        width: 17em;
        padding-left: .5em;
        top: -4.5em;
    }
}
