
@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
    margin: 0;
	font-family: 'Righteous', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/* Header */

header {
    position: absolute;
	left: 0;
	right: 0;
}

nav ul {
    margin: auto;
    list-style: none;
    padding: 1.5em;
    text-align: center;
    background-color: rgba(114,200,0,.9);
    height: 5em;
}

nav li {
	display: inline-block;
    margin: .1em;
    visibility: hidden;
}

nav a {
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: black;
    font-size: .8rem;
    
}

/* "Sanduíche" */
nav div.container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    position: absolute;
    top: 0;
    right: .5em;
    transition: 100ms;
}

@media(min-width: 60rem) {

    nav div.container a {
        visibility: hidden;
    }

    nav ul {
        background-color: white;
        margin-top: 3em;
        height: 7em;
        width: 80%;
        border-radius: 10px;
    }

    nav li {
        visibility: initial;
        margin: .9em;
    }

    nav a {
        padding: .6em;
        color: rgba(114,200,0);
        font-size: 1.2rem;
    }
}

/* Typography */

h1 {
    font-size: 1.6rem;
}

.title {
    font-size: 1.75rem;
    margin-bottom: 1em;
    margin-top: .1em;
    padding: 1rem;
    color: white;
}


/* Home Hero */

.home-hero {
    background-image: url(../img/paisagem.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 8em 3em;
    color: white;
}

@media(min-width: 50rem) {
    .home-hero {
        height: 90vh;
        padding-top: 35vh;
        background-position: bottom;
    }

    .home-hero h1 {
        text-align: left;
        margin-top: -3rem;
        margin-left: -3rem;
        left: 0;
        width: 20rem;
        font-size: 2rem;
    }

    .button-accent {
        float: left;
        margin-top: -1rem;
        margin-left: -2rem;
    }
}

@media(min-width: 80rem) {
    .home-hero {
        height: 90vh;
        padding-top: 35vh;
        background-size: 100%;
    }
}

/* Images */

nav img#logo {
    width: 12em;
    position: absolute;
    top: 0;
    left: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

nav img#logo2{
    width: 9em;
    position: absolute;
    top: 2.4em;
    margin-top: .5em;
    margin-bottom: .5em;
    visibility: hidden;
    left: 13.5em;
}

@media(min-width: 60rem) {

    nav img#logo {
       visibility: hidden;   
    }

    nav img#logo2{
        visibility: initial;
    }
}


/* Buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 4px;
    border-style: solid;
    border-radius: 30px;
    padding: .5em 1.75em;
    color: white;
}

.button-accent {
    border-color: white;
    background-color: #94c500;
}

.button-accent2 {
    border-color: white;
    background-color: #94c500;
}

.button-accent2:hover, 
.button-accent2:focus {
    border-color: white;
    background-color: #abd334;
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

@media (min-width: 50rem) {
    .button-small {
        font-size: 1rem;
    }
}

/* HR */

.sp {
    width: 100%;
    height: 3rem;
    background-color: #3d3984;
    display: block;
    
}

.spLine {
    margin-top: -2.5em;
    background-color: white;
    border: none;
    height: .2rem;
    position: relative;
    top: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sp2 {
    width: 100%;
    height: 3rem;
    background-color: #3d3984;
    display: block;
    margin-top: -.5rem;
}

.spLine2 {

    background-color: white;
    border: none;
    height: .2rem;
    position: relative;
    top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Home About */

.home-about-textbox {
    background-color: #4d48aa;
	padding: 4em;
    width: 100%;
	outline: 7px solid white;
    outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about h1 {
    color: white;
    position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: -3.7rem;
	background: #4d48aa;
    padding: 0, .9em;
    width: 8em;
}

.home-about p {
    color: white;
    font-size: 1.15rem;
}

.pText {
    margin-top: -3rem;
}

@media (min-width: 60rem) {
    .home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: 25%;
		top: 2em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
    }
    
    .home-about h1 {
        color: white;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -6rem;
        background: #4d48aa;
        text-align: center;
        font-size: 2rem;
    }

    .sp2 {
        width: 100%;
        height: 3rem;
        background-color: #3d3984;
        display: block;
        margin-top: 4rem;
    }
}
