@font-face {
    font-family: 'Aristotelica';
    src: url('./Fonts/aristotelica.text-trial-bold.ttf');
}

@font-face {
    font-family: 'Mikado';
    src: url('./Fonts/Mikado\ Light.otf');
}

@font-face {
    font-family: 'Mikado Black';
    src: url('./Fonts/Mikado\ Black.otf');
}

/* DEFAULT */

body {
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
}

/* HEADER */

#mobile {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,.4);
    height: auto;
    font-family: "Mikado Black";
    color: #333;
}

#mobile ul li
{
    display: inline-block;
    line-height: 1em;
    margin-left: -2em;
}

#mobile ul
{
    position: relative;
    left: -3em;
}

#mobile ul li img
{
    width: 40%;
    position: relative;
    top: .75em;
}

#mobile .star
{
    width: 30%;
}

#mobile #nick
{
    position: relative;
    left: 2em;
}

#mobile #notificacao:hover
{
    cursor: pointer;
}

#mobile #numNotificacoes2 {
    background-color: rgb(255,59,59);
    color: white;
    padding-top: .35em;
    padding-bottom: .35em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 100px;
    font-size: 1rem;
    user-select: none;
    outline: none;
    position: relative;
    bottom: 1.3em;
    right: 3.5em;
}

#mobile #numNotificacoes2:hover {
    cursor: pointer;
}

/* HEADER DESKTOP */

#desktop {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    visibility: hidden;
}

#desktop ul {
    float: left;
}

#desktop ul li {
    display: inline-block;
}

#desktop ul li a {
    font-size: 1.5rem;
    position: relative;
    top: .75em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Aristotelica';
}

#desktop ul li #inicio {
    border-bottom: 3px solid white;
}

#desktop ul li a:hover {
    border-bottom: 3px solid white;
    transition: .2s;
}

/* LOGO */
#desktop img {
    width: 12em;
    position: relative;
    top: 1em;
    left: 1em;
    float: left;
    padding-right: 2em;
}

/* Estrela */

#desktop {
    visibility: hidden;
}

/* QUANTAS NOTIFICAÇÕES */

#desktop #info #numNotificacoes {
    background-color: rgb(255,59,59);
    color: white;
    padding-top: .15em;
    padding-bottom: .15em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 100px;
    font-size: 1rem;
    position: relative;
    right: 10em;
    top: -1.5em;
    user-select: none;
    outline: none;
}

#desktop #info #numNotificacoes:hover {
    cursor: pointer;
}

@media(min-width: 70rem) {

    #desktop {
        visibility: initial;
    }

    #desktop ul li {
        display: inline-block;
        margin-left: 1.2em;
    }

    #desktop ul {
        margin: auto;
        list-style: none;
        padding: 1.5em;
        text-align: center;
        background-color: #72c800;
        height: 3em;
        transition: .3s;
        box-shadow: 0px 4px rgba(0,0,0,.1);
        padding-left: 10em;
        float: none;
    }

    #desktop ul #info {
        float: right;
    }

    #desktop #info #notificacao2
    {
        width: 30%;
        position: relative;
        top: .25em;
    }

    #desktop #info #notificacao2:hover
    {
        cursor: pointer;
    }


    #desktop ul a img {
        width: 2em;
        top: 50%;
    }

    #desktop ul h1 {
        font-family: "Mikado Black";
        color: rgb(255, 238, 0);
        position: relative;
        top: -.4em;
        right: 1.5em;
        font-size: 1.5rem;
    }

    #desktop #nick {
        font-family: "Mikado Black";
        color: white;
        position: relative;
        top: -.4em;
        right: 1.5em;
        font-size: 1.5rem;
        margin-left: 1em;
    }
}

/* USUARIO */

div#usuario {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,.1);
    height: auto;
    background-color: white;
    z-index: 10;
}

div#usuario ul a img {
    position: relative;
    width: 3.5em;
    padding-right: 2em;
}

@media(min-width: 70rem) {
    #mobile {
        visibility: hidden;
    }

    div#usuario {
        visibility: hidden;
    }
}