

@font-face {
    font-family: 'Aristotelica';
    src: url('./Fonts/aristotelica.text-trial-bold.ttf');
}

@font-face {
    font-family: 'Mikado';
    src: url('./Fonts/Mikado\ Light.otf');
}

@font-face {
    font-family: 'Mikado Black';
    src: url('./Fonts/Mikado\ Black.otf');
}


/* DEFAULT */

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/*PERFIL HERO*/

body {
    background-image: url('../Images/Fundo_Perfil.png');
    background-size: 100em;
    background-repeat: no-repeat;
}

#perfil_hero
{
    width: 100%;
    border: 2px solid white;
}

#perfil_hero a
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}