

@font-face {
    font-family: 'Aristotelica';
    src: url('./Fonts/aristotelica.text-trial-bold.ttf');
}

@font-face {
    font-family: 'Mikado';
    src: url('./Fonts/Mikado\ Light.otf');
}

@font-face {
    font-family: 'Mikado Black';
    src: url('./Fonts/Mikado\ Black.otf');
}


/* DEFAULT */

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/*PERFIL HERO*/

#perfil_hero img{
    width: 100%;
    margin: 0 auto;
}
