@font-face {
    font-family: 'Aristotelica';
    src: url('./Fonts/aristotelica.text-trial-bold.ttf');
}

@font-face {
    font-family: 'Mikado';
    src: url('./Fonts/Mikado\ Light.otf');
}

@font-face {
    font-family: 'Mikado Black';
    src: url('./Fonts/Mikado\ Black.otf');
}


/* DEFAULT */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Righteous', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/*PERFIL HERO*/



/*#home-hero {
    background-image: url('../Images/Fundo_Perfil.png');
    background-size: cover;
    background-repeat: no-repeat;
}*/

#bg-hero {
    background-image: url('../Images/Fundo_Perfil.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 8em 3em;
}

#home-hero
{
    position: relative;
    bottom: 8em;
}

#home-hero #card1 {
    background-color: white;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,.3);
    border-radius: 30px;
    padding: 1em;
    width: 95%;
    height: 35em;
    position: relative;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
}

#menuH #header {
    background-color: white;
    height: 6em;
    width: 100%;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,.3);
    margin: 0 auto;
    z-index: 10;
    position: fixed;
    bottom: -1em;
    z-index: 1;
}

#menuH #header #alter {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Mikado Black";
    font-size: .85rem;
    padding: .75em;
    width: 10em;
    border: 3px #333 solid;
    border-radius: 30px;
    text-align: center;
    transition: .2s;
    position: relative;
    top: 1em;
    right: .55em;
    float: right;
}

    #menuH #header #alter:hover {
        background-color: #333;
        transition: .2s;
        color: white;
        transition: .2s;
    }

#menuH #header #casa {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Mikado Black";
    font-size: .85rem;
    padding: .75em;
    border: 3px #333 solid;
    border-radius: 100em;
    text-align: center;
    transition: .2s;
    position: relative;
    margin-right: 1em;
    top: 2em;
    left: 5em;
}

#menuH #header #casa:hover {
    background-color: #333;
    transition: .2s;
    color: white;
    transition: .2s;
}

#home-hero #card1 #foto {
    width: 13em;
    height: 13em;
    border-radius: 100em;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,.4);
    overflow: hidden;
    position: relative;
    top: 0em;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

#home-hero #card1 #foto img {
    width: 400em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home-hero #card1 #user-info #nickname {
    font-family: "Mikado Black";
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    position: relative;
    font-size: 1.3rem;
    user-select: none;
    left: 50%;
    transform: translateX(-50%);
    height: 2em;
    margin-top: 2em;
    bottom: 1em;
}

#home-hero #card1 #wow {
    position: relative;
    bottom: 4em;
}

#home-hero #card1 #wow ul
{
    position: relative;
    text-align: left;
    top: 0em;
}

#home-hero #card1 #wow ul li
{
    display: inline-block;
}

#home-hero #card1 #wow #star
{
    width: 30%;
    position: relative;
    top: 2.5em;
}

#home-hero #card1 #wow #bolin
{
    width: 30%;
    position: relative;
    top: 1.5em;
    right: .75em;
}

#home-hero #card1 #wow #dn
{
    font-family: "Mikado Black";
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    position: relative;
    font-size: 1.3rem;
    width: 5em;
    left: 3em;
    user-select: none;
    bottom: 3em;
}

#home-hero #card1 #wow #lvl {
    font-family: "Mikado Black";
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    position: relative;
    font-size: 1.5rem;
    user-select: none;
    left: 3em;
    bottom: .85em;
}

#home-hero #card1 #wow a {
    font-family: "Mikado Black";
    color: white;
    background-color: #a1e648;
    text-transform: uppercase;
    position: relative;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    transition: .2s;
    text-decoration: none;
    top: 3.5em;
}

#home-hero #card1 #wow a:hover {
    padding-left: 3em;
    padding-right: 3em;
    transition: .2s;
    background-color: #b4e971;
}

/* CARD-CONTENT */

    #content-info {
        display: grid;
        background-color: white;
        position: relative;
        width: 95%;
        box-shadow: 0px 4px 8px 3px rgba(0,0,0,.4);
        border-radius: 30px;
        height: 30em;
        left: 50%;
        top: 2em;
        transform: translateX(-50%);
        margin-top: 2em;
        margin-bottom: 2em;
        bottom: 1em;
    }

    #content-info .cardGraphic {
        height: 30em;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
        border-radius: 30px;
        position: relative;
        top: 1em;
    }

    #content-info .cardGraphic .center-graphic h1 {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #333;
        position: relative;
        font-family: "Mikado Black";
        user-select: none;
        left: 50%;
        transform: translateX(-50%);
    }

    #content-info .cardGraphic .center-graphic #pr {
        font-family: "Mikado Black";
        user-select: none;
        color: #333;
        margin-bottom: 3em;
    }

    #content-info .cardAmigos h1 {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #333;
        position: relative;
        font-family: "Mikado Black";
        user-select: none;
    }

    #content-info .danger-zone h1 {
        text-transform: uppercase;
        font-size: 1.8rem;
        color: #333;
        position: relative;
        font-family: "Mikado Black";
        user-select: none;
        margin-top: 1em;
    }

    .botao {
        width: 50%;
        background-color: gray;
        border: 2px solid white;
        padding: .6em;
        padding-top: .6em;
        border-radius: 10px;
        font-size: 1rem;
        color: gray;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s;
        position: relative;
        font-family: 'Mikado Black';
        color: white;
        outline: none;
    }

    .botao:hover {
        background-color: transparent;
        color: gray;
        cursor: pointer;
        border: 2px solid gray;
    }

    #content-info .cardAmigos ul {
        list-style: none;
        padding-top: .25em;
        padding: 1em;
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
        position: relative;
        border: 2px solid rgb(160, 160, 160);
        border-radius: 5px;
        height: 20em;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        overflow-Y: scroll;
    }

    #content-info .cardAmigos ul li {
        margin-bottom: 1.5em;
    }

    #content-info .cardAmigos ul li a {
        color: white;
        font-family: "Mikado Black";
        text-decoration: none;
        background-color: rgb(28,176,246);
        padding: 7px;
        border-radius: 30px;
        padding-left: 5em;
        padding-right: 5em;
        position: relative;
        top: .5em;
        transition: .3s;
    }

    #content-info .cardAmigos ul li a:hover {
        color: white;
        float: none;
        font-family: "Mikado Black";
        text-decoration: none;
        background-color: rgb(68, 195, 255);
        padding: 7px;
        border-radius: 30px;
        padding-left: 6em;
        padding-right: 6em;
        position: relative;
        top: .5em;
        transition: .3s;
    }

    /* Modal */

    #modal-perfil {
        background-color: rgb(0,0,0,.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        margin: 0 auto;
        left: 0;
        visibility: hidden;
        overflow: auto;
        z-index: 10;
    }

    #modal-perfil #modal-content {
        width: 90%;
        height: auto;
        padding: 1em;
        position: relative;
        background-color: white;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        box-shadow: 0px 4px 8px 3px rgba(0,0,0,.4);
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #modal-perfil #modal-content h1 {
        position: relative;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #333;
        font-family: "Mikado Black";
        user-select: none;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        padding: .5em;
    }

    #modal-perfil #modal-content h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 1rem;
        color: #333;
        font-family: "Mikado Black";
        user-select: none;
        top: 1em;
    }

    #modal-perfil #modal-content input[type="submit"] {
        font-size: 1.2rem;
        background-color: #83e600;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        font-family: 'Aristotelica';
        position: relative;
        text-align: center;
        padding-top: 1.3em;
        padding: 1em;
        border: none;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #modal-perfil #modal-content input[type="submit"]:hover {
        background-color: #a1e648;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        font-family: 'Aristotelica';
        cursor: pointer;
        /* transition: .2s; */
    }

    #modal-perfil #modal-content #close {
        font-size: 1.3rem;
        font-family: "Mikado Black";
        position: relative;
        float: right;
        width: 1.3em;
        text-align: center;
        border-radius: 100%;
        background-color: red;
        color: white;
        cursor: pointer;
    }

    /* FOTOS DE PERFIL */

    ul {
        list-style-type: none;
        position: relative;
        left: -1em;
    }

    li {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        padding: 10px;
        display: block;
        position: relative;
        cursor: pointer;
        user-select: none;
        outline: none;
    }

    label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 28px;
        transform: scale(0);
    }

    label img {
        height: 100px;
        width: 100px;
        transform-origin: 50% 50%;
    }

    :checked + label:before {
        background-image: url('../Images/chk.png');
        background-size: 100%;
        transform: scale(1);
        z-index: 3;
    }

    :checked + label img {
        transform: scale(0.9);
        z-index: -1;
    }

    .txtCampos {
        font-family: 'Mikado';
        font-size: 14pt;
        width: 80%;
        margin-top: 1em;
        background-color: white;
        border: 2px solid rgb(160,160,160);
        border-radius: 30px;
        outline: none;
        padding: .25em;
        padding-left: .55em;
    }

    .txtCampos:focus {
        transition: 0.25s ease-in;
        border-color: #83e600;
    }

    #content-info .danger-zone a {
        background-color: rgb(255,59,59);
        color: white;
        text-decoration: none;
        padding: 1em;
        font-size: 1.5rem;
        font-family: "Mikado Black";
        border-radius: 10px;
        position: relative;
        top: 6em;
        transition: .2s;
    }

    #content-info .danger-zone a:hover {
        background-color: rgb(255,105,105);
    }

    #home-hero #card1 #wow #novoAmigo {
        position: relative;
        top: 2em;
        z-index: 100;
    }

@media(min-width: 60rem) {
    #home-hero #card1 #wow {
        position: relative;
        bottom: 7em;
    }

    #home-hero #card1 {
        background-color: white;
        box-shadow: 0px 4px 8px 3px rgba(0,0,0,.3);
        border-radius: 30px;
        padding: 1em;
        width: 25em;
        height: 30em;
        position: relative;
        left: 2%;
        bottom: 2em;
        transform: translateX(-2%);
    }

    #home-hero a {
        float: right;
    }


    #home-hero #card1 #user-info #nickname {
        position: relative;
        font-size: 2rem;
        width: 100%;
        bottom: 4em;
        color: white;
        margin-left: 12.5em;
        margin-top: 0;
    }

    #home-hero #card1 #wow #novoAmigo {
        float: none;
        font-size: 1.1rem;
        z-index: 100;
        top: 2.75em;
    }

    #home-hero #card1 #wow ul {
        position: relative;
        right: 7em;
        bottom: 3em;
    }

    #content-info {
        width: 80%;
        top: 0;
    }

        #content-info .cardAmigos ul li a {
            color: white;
            float: none;
            font-family: "Mikado Black";
            font-size: 1.5rem;
            text-decoration: none;
            background-color: rgb(28,176,246);
            padding: 7px;
            border-radius: 30px;
            padding-left: 10em;
            padding-right: 10em;
            position: relative;
            top: .5em;
            transition: .3s;
        }

            #content-info .cardAmigos ul li a:hover {
                color: white;
                float: none;
                font-family: "Mikado Black";
                text-decoration: none;
                background-color: rgb(68, 195, 255);
                padding: 7px;
                border-radius: 30px;
                padding-left: 11em;
                padding-right: 11em;
                position: relative;
                top: .5em;
                transition: .3s;
            }

    .botao {
        font-size: 1rem;
        bottom: 0;
    }

    #content-info .cardGraphic .center-graphic h1 {
        text-transform: uppercase;
        font-size: 2rem;
        color: #333;
        position: relative;
        font-family: "Mikado Black";
        user-select: none;
        left: 50%;
        transform: translateX(-50%);
    }

    #content-info .cardGraphic .center-graphic #pr {
        font-size: 1.5rem;
    }

    #modal-perfil #modal-content {
        height: auto;
        padding: 1em;
    }

    .txtCampos {
        width: 60%;
    }

    #home-hero #card1 #wow ul {
        top: 1em;
    }

    #content-info .danger-zone a {
        position: relative;
        right: 40%;
        top: 5em;
    }

    #menuH #header #alter {
        right: 2em;
    }
}