@font-face {
    font-family: 'Aristotelica';
    src: url('./Fonts/aristotelica.text-trial-bold.ttf');
}

@font-face {
    font-family: 'Mikado';
    src: url('./Fonts/Mikado\ Light.otf');
}

@font-face {
    font-family: 'Mikado Black';
    src: url('./Fonts/Mikado\ Black.otf');
}


/* DEFAULT */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/* HOME-HERO */

#home-hero h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #333;
    font-family: "Mikado Black";
    user-select: none;
    margin-top: 2em;
}

#home-hero {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style-type: none;
    position: relative;
    left: -2.3em;
}

li {
    display: inline-block;
}

input[type="radio"] {
    display: none;
}

label {
    padding: 20px;
    margin-left: 2em;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    outline: none;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(217,217,217);
    border-radius: 20px;
    width: 10em;
    height: 10em;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    width: 40px;
    left: -10px;
    height: 40px;
    text-align: center;
    line-height: 28px;
    transform: scale(0);
}

label img {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1em;
}

:checked + label:before {
    background-image: url('../Images/chk.png');
    background-size: 100%;
    transform: scale(1);
    z-index: 3;
}

:checked + label {
    background-color: rgb(153,255,153);
    border: 2px solid rgb(87,255,87);
    transform: scale(0.9);
    user-select: none;
    outline: none;
}

#home-hero hr
{
    border: 2px solid rgb(217,217,217);
    width: 100%;
    margin: 0;
}

#home-hero a {
    font-size: 1.2rem;
    background-color: rgb(217,217,217);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Aristotelica';
    position: relative;
    text-align: center;
    padding-top: 1.3em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border: none;
    top: 3em;
    transition: .2s;
}

#home-hero a:hover {
    background-color: #83e600;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Aristotelica';
    cursor: pointer;
    padding-left: 4em;
    padding-right: 4em;
    transition: .2s;
}

@media(min-width: 40rem)
{
    label {
        margin-left: 8em;
        display: block;
        position: relative;
        cursor: pointer;
        user-select: none;
        outline: none;
        background-color: rgb(255,255,255);
        border: 2px solid rgb(217,217,217);
        border-radius: 20px;
        width: 15em;
        height: 15em;
    }

    #home-hero h1 {
        text-transform: uppercase;
        font-size: 2rem;
        color: #333;
        font-family: "Mikado Black";
        user-select: none;
        margin-bottom: 2em;
    }

    ul {
        left: -5em;
    }

    #home-hero a {
        font-size: 1.5rem;
        margin-top: 2em;
    }

}