@font-face {
    font-family: 'Aristotelica';
    src: url('./Fonts/aristotelica.text-trial-bold.ttf');
}

@font-face {
    font-family: 'Mikado';
    src: url('./Fonts/Mikado\ Light.otf');
}

@font-face {
    font-family: 'Mikado Black';
    src: url('./Fonts/Mikado\ Black.otf');
}


/* DEFAULT */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/* HOME-HERO */

#home-hero h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #333;
    font-family: "Mikado Black";
    user-select: none;
    margin-top: 2em;
}

#home-hero {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style-type: none;
    position: relative;
    left: -2.3em;
}

li
{
    display: inline-block;
}


input[type="radio"] {
    display: none;
}

label {
    padding: 20px;
    margin-left: 2em;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    outline: none;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(217,217,217);
    border-radius: 20px;
    width: 10em;
    height: 10em;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    width: 40px;
    left: -10px;
    height: 40px;
    text-align: center;
    line-height: 28px;
    transform: scale(0);
}

label img {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1em;
}

:checked + label:before {
    background-image: url('../Images/chk.png');
    background-size: 100%;
    transform: scale(1);
    z-index: 3;
}

:checked + label {
    background-color: rgb(153,255,153);
    border: 2px solid rgb(87,255,87);
    transform: scale(0.9);
    user-select: none;
    outline: none;
}

#home-hero hr
{
    border: 2px solid rgb(217,217,217);
    width: 100%;
    margin: 0;
}

#home-hero #enviar {
    background-color: rgb(217,217,217);
    padding: 1em;
    border-radius: 10px;
    font-family: Aristotelica;
    font-size: 1.2rem;
    outline: none;
    user-select: none;
    color: white;
    border: none;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
    transition: .2s;
}

#home-hero #enviar:hover {
    background-color: #83e600;
    cursor: pointer;
    padding-right: 3em;
    padding-left: 3em;
    transition: .2s;
}

#home-hero .r {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #333;
    font-family: "Mikado Black";
    user-select: none;
    position: relative;
    left: .75em;
    margin-top: .45em;
}

#home-hero #voltar {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Mikado Black";
    font-size: .75rem;
    padding: .75em;
    width: 10em;
    border: 3px #333 solid;
    border-radius: 30px;
    text-align: center;
    transition: .2s;
    position: relative;
    top: 2.2em;
    left: 0;
}

#home-hero #voltar:hover {
    background-color: #333;
    transition: .2s;
    color: white;
    transition: .2s;
}

#bg-modal {
    background-color: rgb(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0 auto;
    left: 0;
    overflow: auto;
    visibility: hidden;
    outline: none;
    user-select: none;
}

#modal-confirm {
    width:95%;
    height: auto;
    padding: 1em;
    position: relative;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 3px rgba(0,0,0,.4);
}

/* MODAL CONFIRMAÇÃO */


#modal-confirm h1 {
    color: #333;
    font-family: "Mikado Black";
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 6em;
}

#modal-confirm a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    padding: .75em;
    border-radius: 100px;
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
    position: relative;
    font-family: "Mikado Black";
}

#modal-confirm a:last-of-type {
    background-color: rgb(134,234,0);
    margin-left: 1em;
}

#modal-confirm a:last-of-type:hover {
    background-color: rgb(173,255,63);
}

#modal-confirm a:first-of-type {
    background-color: rgb(255,54,54);
    margin-right: 1em;
}

#modal-confirm a:first-of-type:hover {
    background-color: rgb(255,105,105);
}

@media(min-width: 60rem) {

    #modal-confirm {
        width: 60%;
    }
}

@media(min-width: 40rem)
{
    label {
        margin-left: 8em;
        display: block;
        position: relative;
        cursor: pointer;
        user-select: none;
        outline: none;
        background-color: rgb(255,255,255);
        border: 2px solid rgb(217,217,217);
        border-radius: 20px;
        width: 15em;
        height: 15em;
    }

    #home-hero h1 {
        text-transform: uppercase;
        font-size: 2rem;
        color: #333;
        font-family: "Mikado Black";
        user-select: none;
        margin-bottom: 2em;
    }

    ul {
        left: -5em;
    }

    #home-hero #enviar {
        font-size: 1.5rem;
        margin-top: 2em;
    }

    #home-hero .r {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #333;
        font-family: "Mikado Black";
        user-select: none;
        position: relative;
        left: 2.5em;
        margin-top: .45em;
    }

}