
/* Arquivos */

@import url('https://fonts.googleapis.com/css?family=Righteous');


/* Classes padrões */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Righteous", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

div.container {
    width: 95%;
    margin: 0 auto;
    max-width: 70em;
}

/* Header */

header {
    background-color: rgba(114,200,0);
    height: 6.7em;
    margin-top: -1em;
}

header ul {
    list-style: none;
    visibility: hidden;
    position: relative;
    top: 2.2em;
}

header ul li {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 2em; 
}

header ul li a {
    text-decoration: none;
    color: white;
}

div.container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    position: absolute;
    top: .6em;
    right: .5em;
}

@media(min-width: 60rem) {

    header ul{
        visibility: initial;
    }

    div.container a {
        visibility: hidden;
    }
    
}

/* Imagens */

header img {
    width: 15em;
    position: absolute;
    top: .4em;
    left: .5em;
}

.bg {
    position: absolute;
    width: 100%;
    top: 6.5em;
    left: 0;
}

.bg2 {
    position: absolute;
    width: 100%;
    top: 6.5em;
    left: 0;
    visibility: hidden;
}

@media(min-width:60rem) {

    .bg2 {
        visibility: initial;
    }

    .bg {
        visibility: hidden;
    }
    
}