@import url('https://fonts.googleapis.com/css?family=Righteous');

@import url('https://fonts.googleapis.com/css?family=Raleway:300');

@font-face { font-family: 'Aristotelica'; 
             src: url('aristotelica.text-trial-bold.ttf'); } 

@font-face { font-family: 'Mikado'; 
             src: url('Mikado\ Light.otf'); } 

@font-face { font-family: 'Mikado Black'; 
             src: url('Mikado\ Black.otf'); } 


/* :root
{
    --gdark: #72c800;
    --glight: #95f50e;
    --gdark2: #94c500;
} */

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/* FOOTER */
    footer{
        background-color: rgb(53, 105, 187);
    }

    footer #infos {
        font-family: "Mikado Black";
        color: white;        
        padding: 1em;
        font-size: .55rem;
    }

    footer img {
        position: relative;
        width: 10%;
        bottom: .3em;
    }

    footer ul{
        list-style: none;
        height: auto;
        display: list-item;
    }

    footer ul li{
        display: inline;
        margin-left:2em;
        margin-right:5.5em;
    }

    footer ul li img{        
        width: 5%;
        height: auto;
    }

    footer ul li img:hover{        
        cursor:pointer;
    }