
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <title>Bastidores</title>
</head>
<body>
    
</body>
</html>
