
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/Scripts/pareto.js"></script>
    <title>Bastidores</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
