
@{
    Layout = null;
    string msg = (string)Session["mensagem"];
    Session["mensagem"] = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BioPlay - Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/home.css">
    <link rel="stylesheet" href="~/Content/modalErro.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>

    <header id="menuV">
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Sobre">Sobre</a></li>
            <li><a href="/Home/Bastidores">Bastidores</a></li>
            <li><a id="btnLogin" href="#">Login</a></li>
        </ul>
    </header>

    <header id="h">
        <nav>
            <img src="~/Images/logoMobile.png" alt="" id="logo">
            <ul>
                <li><img src="~/Images/logoDesk.png" alt="" id="logo2"></li>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/Sobre">Sobre</a></li>
                <li><a href="/Home/Bastidores">Bastidores</a></li>
                <li><a id="btnLogin2" href="#">Logar</a></li>
            </ul>

            <section class="icon" id="mostrarMenu">
                <div class="container">
                    <div class="hamburger"></div>
                </div>
            </section>

        </nav>
    </header>

    <section class="tela-escura" id="telaEscura">
        <div class="container">
            <label for=""></label>
        </div>
    </section>

    <section class="tela-escura-desk" id="telaEscura-desk">
        <div class="container">
            <label for=""></label>
        </div>
    </section>


    <section class="home-hero parallax--bg">
        <div class="container">
            <h1 id="title">APRENDENDO E SALVANDO O FUTURO DO PLANETA</h1>
            <hr class="spHeader">
            <a href="/Home/Sobre" class="button">Saiba Mais</a>
        </div>
    </section>

    <div class="planet fade-scroll">
        <div class="container">
            <h1 id="title" data-aos="fade-up">Reuse, Reduza, Recicle</h1>
            <hr>
            <img src="~/Images/planet.png" alt="">
            <h1 id="texto">Também conhecidos como os 3 Rs da sustentabilidade, eles nos ajudam tanto para reduzir os gastos, porque menos recursos são usados, quanto para salvar o meio ambiente, favorecendo todos. Algo que todos nós podemos fazer em casa, por exemplo, é tentar reduzir o tempo no banho, que é onde grande parte da água é gasta.</h1>
        </div>
    </div>

    <div class="terreno fade-scroll">
        <div class="container">
            <h1 id="title">Proteja o meio ambiente</h1>
            <hr>
            <img src="~/Images/ilha.png" alt="">
            <h1 id="texto">Pequenas atitudes podem mudar o nosso planeta. O equilíbrio da natureza depende  de todos, inclusive de você! Por isso, aprenda conosco as oportunidades diárias que lhe são oferecidas para agir como amigo do meio ambiente e faça a sua parte.</h1>
        </div>
    </div>

    <section class="hdiw">
        <div class="container">
            <h1>COMO FUNCIONA?</h1>
            <img src="~/Images/hdiw.png" alt="" id="base">

        </div>
    </section>

    <section>
        <div class="wave">
        </div>
    </section>

    <!-- Modal Login -->

    <section class="modalLogin" id="modalLogin">
        <form action="/Home/Logar">
            <h1>LOGIN:</h1>
            <hr>
            <input type="text" id="usu" name="stringLogin" class="txtCampos" required placeholder=" Usuário">
            <br><br>
            <input type="password" id="sen" name="stringSenha" class="txtCampos" required placeholder=" Senha">
            <br><br>
            <input type="submit" value="Logar" />
            <h2>Não possui uma conta ainda?</h2>
            <a href="/Home/Cadastrar">Cadastrar</a>
        </form>
    </section>

    <footer>
        <div id="infos">
            <img src="~/Images/logoDesk3.png" alt="">
            <h1>SAIBA MAIS</h1>
            <h1>©2019 BIOPLAY. Todos os direitos reservados. Criado por Pedro Gomes e Vitor Ramos.</h1>
        </div>
    </footer>
    <section id="bg-modal">
        <div id="modal-content">
            <img src="/Images/erro.png" alt="Alternate Text" id="erro-img" />
            <p id="msg">
                @msg
            </p>
            <input type="button" id="btn-ok" value="Entendido" />
        </div>
    </section>
    <script src="~/Scripts/geral.js"></script>
    <script src="~/Scripts/fadeIn.js"></script>
    <script src="~/Scripts/parallax.js"></script>
    <script src="~/Scripts/menuVertical.js"></script>    
</body>
</html>
