@import url('https://fonts.googleapis.com/css?family=Righteous');

@import url('https://fonts.googleapis.com/css?family=Raleway:300');

@font-face { font-family: 'Aristotelica'; 
             src: url('../fonts/aristotelica.text-trial-bold.ttf'); } 

@font-face { font-family: 'Mikado'; 
             src: url('../fonts/Mikado\ Light.otf'); } 

@font-face { font-family: 'Mikado Black'; 
             src: url('../fonts/Mikado\ Black.otf'); } 

/* DEFAULT */

body {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

/* HEADER */

#mobile {
    position: fixed;
	left: 0;
    right: 0;
    z-index: 10;
}

#mobile ul {
    margin: auto;
    list-style: none;
    padding: 1.5em;
    text-align: center;
    background-color: white;
    height: 3em;
    transition: .3s;
    box-shadow: 0px 4px rgba(0,0,0,.1);
}

#mobile li {
	display: inline-block;
    margin: .2em;
}

#mobile a {
	text-decoration: none;
	padding: .5;
	text-transform: uppercase;
	color: #83e600;
    font-size: .8rem;
    font-family: 'Aristotelica';
}

#mobile img {
    width: 10em;
    float: right;
}

#mobile ul a img {
    width: 3.5em;
    float: left;
    margin-right: 2em;
}

/* USUARIO */

div#usuario {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,.1);
    height: auto;
}

div#usuario ul a img{
    position: relative;
    width: 3.5em;
    padding-right: 3em;
}

@media(min-width: 50rem)
{
    #mobile{
        visibility: hidden;
    }
}

/* HEADER DESKTOP */

#desktop
{
    position: fixed;
	left: 0;
    right: 0;
    z-index: 10; 
    visibility: hidden;
}

#desktop ul {
    margin: auto;
    list-style: none;
    padding: 1.5em;
    text-align: center;
    background-color: #72c800;
    height: 3em;
    transition: .3s;
    box-shadow: 0px 4px rgba(0,0,0,.1);
}

#desktop ul li{
    display: inline-block;   
    left: 50%;
	transform: translateX(-50%);
}

#desktop ul li a
{
    font-size: 1.5rem;
    padding-left: 1.2em;
    position: relative;
    top: .75em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Aristotelica';
}

#desktop img {
    width: 12em;
    float: left;
    position: relative;
    top: -.5em;
}

/* Estrela */
#desktop ul li a img
{
    width: 2em;
    top: 50%;
    padding-left: 2em;
}

#desktop ul li#pontos2 h1
{
    font-size: 2rem;
    font-family: "Aristotelica";
}

@media(min-width: 50rem)
{
    #desktop
    {
        visibility: initial;
    }
}