
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Nome: @ViewBag.usuario.Nome</h1>
        <h1>Email: @ViewBag.usuario.Email</h1>
        <h1>Data Nascimento: @ViewBag.usuario.DataNascimento</h1>
        <h1>Nível: @ViewBag.usuario.Nivel</h1>
    </div>
</body>
</html>
