
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pergunta</title>
</head>
<body>
    <section id="home-hero">
        <div class="container">

            <form action="" method="post">
                <input type="text" hidden id="selecionada" >
                <ul>
                    <li>
                        <input type="radio" name="pic" id="pic1" checked />
                        <label for="pic1"><img src="~/Images/FotosPerfil/pic1.png"></label>
                        <h1></h1>
                    </li>
                    <li>
                        <input type="radio" name="pic" id="pic2" />
                        <label for="pic2"><img src="~/Images/FotosPerfil/pic2.png"></label>
                    </li>
                    <li>
                        <input type="radio" name="pic" id="pic3" />
                        <label for="pic3"><img src="~/Images/FotosPerfil/pic3.png"></label>
                    </li>
                    <li>
                        <input type="radio" name="pic" id="pic4" />
                        <label for="pic4"><img src="~/Images/FotosPerfil/pic4.png"></label>
                    </li>
                </ul>
            </form>

        </div>
    </section>
</body>
</html>
