
@{
    Layout = null;

    int indResp = 0;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/pergunta.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Pergunta</title>
</head>
<body>
    <section id="home-hero">
        <div class="container">

            <h1>Selecione o lixo correto</h1>

            <form action="" method="post">
                <input type="text" hidden id="selecionada">
                <ul>
                    <li>
                        <input type="radio" name="pic" id="pic1" />
                        <label for="pic1"><img src="~/Images/Licoes/Reciclagem/maca.png"></label>
                        <h1 id="resp1"></h1>
                    </li>
                    <li>
                        <input type="radio" name="pic" id="pic2" />
                        <label for="pic2"><img src="~/Images/Licoes/Reciclagem/peixe.png"></label>
                        <h1 id="resp2"></h1>
                    </li>
                    <li>
                        <input type="radio" name="pic" id="pic3" />
                        <label for="pic3"><img src="~/Images/Licoes/Reciclagem/garrafa.png"></label>
                        <h1 id="resp3"></h1>
                    </li>
                    <li>
                        <input type="radio" name="pic" id="pic4" />
                        <label for="pic4"><img src="~/Images/Licoes/Reciclagem/pote.png"></label>
                        <h1 id="resp4"></h1>
                    </li>
                </ul>
            </form>

            <hr />

            @Html.ActionLink("Enviar Resposta", "Index")

        </div>
    </section>
</body>
</html>
