
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teoria - @ViewBag.licao.Nome</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.licao.Nome</h1>
        @foreach (apBioPlay.Models.Paragrafo p in ViewBag.paragrafos)
        {
        <p>&nbsp;&nbsp;&nbsp;&nbsp;p.Texto</p>
        }
    </div>
</body>
</html>
