
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teoria - @ViewBag.licao.Nome</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.licao.Nome</h1>
        <p>
            @ViewBag.licao.Teoria
        </p>
    </div>
</body>
</html>
