
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/perfil.css">
    <meta name="viewport" content="width=device-width" />
    <title>BioPlay - Perfil</title>
</head>
<body>
    <div id="header">
        <img src="~/Images/Fundo_Perfil.png" />
        <a href="#">Alterar Perfil</a>
    </div>
</body>
</html>
