
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/perfil.css">
    <meta name="viewport" content="width=device-width" />
    <title>BioPlay - Perfil</title>
</head>
<body>
    <section id="perfil_hero">
        <img src="~/Images/Fundo_Perfil2.png" alt="Alternate Text" />
        <a href="#">Alterar Perfil</a>
    </section>
</body>
</html>
